<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <style>
        .imgThumb {
            max-height: 320px;
            max-width: 240px;
        }
    </style>
</head>

<body>

    <div id='myData' style='top:0;position:fixed;z-index:100;background-color: #ffffff; width:100%'>
        <button class="btn btn-primary" id="btnPrevPosts" v-on:click="getPrev">PREV</button>
        <button class="btn btn-primary" id="btnNextPosts" v-on:click="getNext">NEXT</button>
        <span style="padding-left:20px"></span>
        <input type="text" id="siteName" style="width:300px" value="https://moviegalleri.net/" />
        <button class="btn btn-default" id="myPostsId" v-on:click="getSite">GET</button>
    </div>
    <div id='myImages' style='padding-top:50px'>
        <span v-for="post in posts">
            <div>
                <div> <h2>{{post.title}} <a :href="`${post.link}`" style='padding-left:10px' target='_blank'>Link</a> </h2> </div>
                <div>
                    <span v-for="img in post.images">
                        <a :href="`${img}`" target='_blank' ><img :src="`${img}`" class='imgThumb' /></a>
                    </span>
                </div>
            </div>

        </span>
    </div>

    <script src="src/client/public3/bundle.js"></script>

</body>

</html>