<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <title>DP Portal</title>

  <link rel="shortcut icon" href="Images/icon.png" type="image/x-icon">

  <script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script src="https://apis.google.com/js/api.js"></script>
  <script src="Scripts/vendor/vendor.js"></script>
  <script src="Scripts/main/main.js"></script>
  <link href="lib/css/lightbox.min.css" rel="stylesheet">
  <style>
    img {
      height: 320px;
      width: 250px;
    }
  </style>
  <script>

  </script>
</head>

<body>
  <div ng-controller="homeCtrl">

    <table class="table table-condensed">
      <tr>
        <td>
          <a href="/">
            <button class="btn btn-info btn-sm"> HOME </button>
          </a>
        </td>
        <td>
          <p>BLOG ID : {{blogId}} </p>
        </td>


        <td>
          <select ng-model="siteList" ng-options="site.blogURL as site.blogURL for site in sitesList" ng-init="siteList = sitesList[0]"
            ng-change="selectedSite()"></select>
          <button ng-click="sortBlogs()" class="btn btn-default"> SORT </button>
          <button ng-click="goUrl()" class="btn btn-link"> GO </button>
          <span>
            <input type="checkbox" ng-model="limitedResults" /> Short Feed </td>
        </span>
        </td>

        <td>
          Filter :
          <input ng-model="searchText" />
          <button ng-click="sortFeedByTitle()" class="btn btn-success"> Title Sort </button>
        </td>

        <td>
          <button id="btnLogin" ng-click="userLogin()" ng-hide="IsLoggedIn()" class="btn btn-primary btn-sm">
            Login
          </button>
          <button ng-hide="!(IsLoggedIn())" class="btn btn-danger btn-sm">
            LogOut
          </button>
        </td>

      </tr>
      <tr>
        <td>
          <button ng-click="getPreviousPosts(siteList)">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Prev</button>
          <button ng-click="getNextPosts(siteList)"> Next
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          </button>
        </td>
        <td>
          <p class="">TOTAL ITEMS : {{totalItems}} </p>

          <p id="responseCode"></p>
        </td>
        <td>
          <input ng-model="txtBlogName" style="width:350px" ng-enter="getBlogName()" />
          <button ng-click="getBlogName()" class="btn btn-info btn-sm  "> Get Blog </button>
          <button ng-click="getPostsAll()" class="btn btn-primary"> ALL </button>
        </td>
        <td>
          Search :
          <input ng-model="fastQueryText" ng-enter="queryText()" />
          <button ng-click="queryText()" class="btn btn-warning btn-sm"> SEARCH </button>
        </td>
        <td>
          <p> Index : {{startIndex}} </p>
        </td>
      </tr>
      <tr>
        <td>
          POST BLOG:
          <select ng-model="selectPostBlog" ng-change="selectedBlog()" ng-options="blog.blogId as blog.blogURL for blog in postBlogs">	</select>
        </td>
      </tr>
    </table>

    <div ng-hide="isActive('')">
      <span ng-repeat="entry in feedObj | filter : searchText" class="imageContainer" ng-hide="entry.thumbs.length < 2">
        <a ng-href="#content/{{entry.id}}">
          <img ng-src="{{entry.thumbs[0]}}" title="{{entry.title}}" />
        </a>
        <span class="imgCount"> {{ entry.thumbs.length }} </span>
        <span class="postContentButton">
          <button class="btn btn-success" ng-click="postContent(this)"> POST </button>
        </span>
      </span>
    </div>
    <div ng-view>

    </div>
      <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
      <link href="Styles/styles.css" rel="stylesheet" />
</body>

</html>