<div>
	<div>


	<div class="row">
	  <div class="col-md-3"><button class="btn btn-danger" ng-click="pinLogin()"> Login </button></div>
	  <div class="col-md-3"><input ng-model="filterTxt" placeholder="Filter" /> <button ng-click="filterArray()" class="btn btn-info"> Filter </button></div>
	  <div class="col-md-3"><input ng-model="searchTxt" placeholder="Search" /> <button ng-click="searchText()" class="btn btn-info"> Search </button></div>
	   <div class="col-md-3"><button ng-click="shuffle()" class="btn btn-primary"> Shuffle </button></div>
	</div>
	<div class="row">
		<table>
			<tr>
				<td>POST SITE :</td>
				<td>
					<select ng-model="selectedSite" ng-change="selectedSiteChanged()">
						<option ng-repeat="site in postSiteList" ng-value="site.url">{{site.url}}</option>
					</select>
				</td>
			</tr>
		</table>
	</div>
	 
	<div class="">
		<span ng-repeat="imgEntry in blog.imgArray" class="imageContainer">
			<img ng-src="{{imgEntry.getThumb()}}" class="thumbImg" title ="{{imgEntry.title}}" />
			<span class="imgCount" ><img src="Images/Pinterest.png" ng-click="pinImage(imgEntry)" style="cursor:pointer"/></span>
			<span class="wpPost" ><img src="Images/wp.png" ng-click="wpPostImage(imgEntry)" style="cursor:pointer"/></span>
		</span>
		</div>
	</div>
</div>