<div class="container">
	<div>


	<div class="row">
	  <div class="col-md-4"><button class="btn btn-danger" ng-click="pinLogin()"> Login </button></div>
	  <div class="col-md-4"><input ng-model="filterTxt" placeholder="Filter" /> <button ng-click="filterArray()" class="btn btn-info"> Filter </button></div>
	  <div class="col-md-4"><input ng-model="searchTxt" placeholder="Search" /> <button ng-click="searchText()" class="btn btn-info"> Search </button></div>
	</div>
	 
	<div class="container">
		<span ng-repeat="imgEntry in blog.imgArray" class="imageContainer">
			<img ng-src="{{imgEntry.getThumb()}}" class="thumbImg" title ="{{imgEntry.title}}" />
			<span class="imgCount" ><img src="Images/Pinterest.png" ng-click="pinImage(imgEntry)" style="cursor:pointer"/></span>
		</span>
		</div>
	</div>
</div>