<div>
<div>

</div>
	<div>
	<table class="table">
	<tr>
	<td>
	<select ng-model="selSite" ng-options="site.blogId as site.blogURL for site in sites" ng-init="selSite = sites[0]" ng-change="selSiteChange()" class="form-control"></select>
	 </td>
	<td> </td>
	<td> </td>
	<td>
		<input ng-model="filterEntry" placeholder="Filter text.." class="form-control ng-pristine ng-valid" />
	 </td>
	</tr>
	</table>
	</div>
	<div class="">
		<span ng-repeat="entry in entries | filter : filterEntry">
			<a ng-href="#images/{{entry.id}}"> <img ng-src="{{entry.thumb}}" alt="entry.title" class="thumb-img" /></a>
		</span>
	</div>
</div>