<div>
	<div>
		<span><input ng-model="searchItems" placeholder="Search something.. "  class="form-control"	/> </span>
	</div>
	<div>
		<table class="table" >
		<tr>
		<td>
			Site : <select ng-model="selSite" ng-options="site.blogId as site.blogURL for site in sitesList" ng-init="siteList = sitesList[0]" ng-change="selSiteChange()"></select>
		</td>
		</tr>
		</table>
	</div>
	<div>
		<span ng-repeat="entry in blog | filter : searchItems">
			<a ng-href="#/post/{{entry.id}}"> <img ng-src="{{entry.thumb}}" class="dpThumb" title="{{entry.title.$t}}" /> </a>
		 </span>
	</div>
</div>