<!DOCTYPE html>
<html>

<head>
    <title> WP POST </title>
    <meta name=viewport content="width=device-width, initial-scale=1">
</head>

<body ng-app="myApp">
    <div ng-controller="myCtrl" style="padding:40px">
        <div class="container">
            <h2>WP POST </h2>
            <table class="table">
                <tr>
                    <td> Enter Site Name </td>
                    <td>
                        <input type="text" ng-model="siteName" class="" style="width: 400px" placeholder="Enter blog name" />
                        <button class="btn btn-info" ng-click="getSiteName()"> GET BLOG ID </button>
                </tr>
                <tr>
                    <td> Enter Site ID </td>
                    <td>
                        <input type="text" ng-model="siteId" class="" style="width: 200px" placeholder="Enter blogId" />
                        <span style="padding-left:20px; color:{{statusColor}}"> {{status}} </span>
                    </td>
                </tr>
                <tr>
                    <td> Post Site </td>
                    <td>
                        <!-- <select ng-model="postSiteList" ng-options="site.url as site.url for site in postSiteList" ng-init="siteList = sitesList[0]"
                            ng-change="selectedSiteChanged()"></select> -->
                            <select ng-model="selectedSite" ng-change="selectedSiteChanged()">
                                <option ng-repeat="site in postSiteList" ng-value="site.url">{{site.url}}</option>
                            </select>
                    </td>
                </tr>
                <tr>
                    <td> START INDEX </td>
                    <td>
                        <input type="text" ng-model="startIndex" /> </td>
                </tr>
                <tr>
                    <td> END INDEX </td>
                    <td>
                        <input type="text" ng-model="endIndex" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" ng-model="showOutput" /> Hide Output </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" ng-model="sortByName" /> Sort Title </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn btn-primary" ng-click="getSite()"> POST </button>
                    </td>
                    <td></td>
                </tr>

            </table>
        </div>
        <div class="container" style="padding-top:20px">
            {{responseObj}}
        </div>
        <div class="container" style="padding-top:50px">
            <a ng-href='{{responseUrl}}' target="_blank">{{responseUrl}}</a>
        </div>
        <div class="container" style="padding-top:50px">
            <textarea ng-model="postContent" ng-hide="showOutput" style="width:1000px;height:800px"></textarea>
        </div>
    </div>
    <script src="scripts/vendor.js"></script>
    <script src="js/scripts.js"></script>
    <!-- Global style definitions -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</body>

</html>