<div>
<table class="table table-condensed">
<tr>
<td>
	<select ng-model="selectPostBlog" ng-change="selectedBlog()" ng-options="blog.blogId as blog.blogURL for blog in postBlogs">	</select>
	<button ng-click="postFunction()" class="btn btn-success"> POST </button>
</td>
<td>
	<h4> {{ postTitle}}</h4>
</td>
<td>
	<!-- <button ng-click="shareFBDialog()" class="btn btn-primary"> Facebook </button> -->
	<button ng-click="shareGoogleDialog()" class="btn btn-danger"> Google+ </button>
	<button ng-click="shareFlipboardDialog()" class="btn btn-danger"> Flipboard </button>
	<button ng-click="openURL()" class="btn"> URL </button>
	<button class='btn btn-primary' ng-click="downloadAllImages()" ><span class='glyphicon glyphicon-download-alt' style='cursor:pointer' aria-hidden='true'> All </span></button>
</td>
</tr>
</table>
</div>
<script>
var imagesDownload = function(){
	alert(this);
}
</script>
<div ng-bind-html="renderHtml(body)" >

</div>





