.thumbImg  {
	max-height: 480px;
	max-width : 320px;
	height : 480px;
	width : 320px;
}

.imgCount {
      position: absolute; 
      width: 20px; 
      height : 20px;
      right: 0; 
      /*top: 0; */
      /*bottom: 0;*/ 
      left:0;
      background: black; 
      color:white
}

.imageContainer {
   position : relative;
}


.wpPost {
      position: absolute; 
      width: 26px; 
      height : 26px;
      /*top: 0; */
      /*bottom: 0;*/ 
      right:0px;
      background: white; 
}